h1.titulo-prova{
    text-align: center;
    margin-bottom: -15px;
}
p.subtitulo-prova{
    text-align: center;
    
}
table{
    border: solid 2px black;
    border-collapse: collapse;
    width: 75%;
}
tr{
    border: solid 2px black;
}
p.titulo-tabela-prova{
    margin: 2px;
    text-align: center;
}
p.subtitulo-tabela-prova{
    margin: 2px;
    text-align: center;
}
div{
    display: flex;
    justify-content: center;
}
a{
    text-decoration: none;
    color: black;
}